@import 'reset';
@import 'variable';
body {
	background: var(--color1);

	section {
		width: 600px;
		padding: 50px;
		background: #fff;
		margin: 100px auto;
		text-align: center;

		h1 {
			font: bold 50px/1 'arial';
			color: var(--color1);
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 30px;
		}
		a {
			display: inline-block;
			border: 1px solid red;
			padding: 5px 20px;
			background: var(--color1);
			font: bold 16px/1 'arial';
			color: #fff;
		}
	}
}

@media screen and (max-width: 999px) {
	body {
		background: var(--color2);

		section {
			h1 {
				color: var(--color2);
			}
			a {
				background: var(--color2);
			}
		}
	}
}
@media screen and (max-width: 599px) {
	body {
		background: var(--color3);

		section {
			width: 80%;
			h1 {
				color: var(--color3);
			}
			a {
				background: var(--color3);
			}
		}
	}
}
